.country-flag .flag {
    width: 16px;
    height: 11px;
    background: url('/images/flags.png')
}

.country-flag .ad {
    background-position: -16px 0
}

.country-flag .ae {
    background-position: -32px 0
}

.country-flag .af {
    background-position: -48px 0
}

.country-flag .ag {
    background-position: -64px 0
}

.country-flag .ai {
    background-position: -80px 0
}

.country-flag .al {
    background-position: -96px 0
}

.country-flag .am {
    background-position: -112px 0
}

.country-flag .ao {
    background-position: -128px 0
}

.country-flag .ar {
    background-position: -144px 0
}

.country-flag .as {
    background-position: -160px 0
}

.country-flag .at {
    background-position: -176px 0
}

.country-flag .au {
    background-position: -192px 0
}

.country-flag .aw {
    background-position: -208px 0
}

.country-flag .az {
    background-position: -224px 0
}

.country-flag .ba {
    background-position: -240px 0
}

.country-flag .bb {
    background-position: 0 -11px
}

.country-flag .bd {
    background-position: -16px -11px
}

.country-flag .be {
    background-position: -32px -11px
}

.country-flag .bf {
    background-position: -48px -11px
}

.country-flag .bg {
    background-position: -64px -11px
}

.country-flag .bh {
    background-position: -80px -11px
}

.country-flag .bi {
    background-position: -96px -11px
}

.country-flag .bj {
    background-position: -112px -11px
}

.country-flag .bm {
    background-position: -128px -11px
}

.country-flag .bn {
    background-position: -144px -11px
}

.country-flag .bo {
    background-position: -160px -11px
}

.country-flag .br {
    background-position: -176px -11px
}

.country-flag .bs {
    background-position: -192px -11px
}

.country-flag .bt {
    background-position: -208px -11px
}

.country-flag .bw {
    background-position: -224px -11px
}

.country-flag .by {
    background-position: -240px -11px
}

.country-flag .bz {
    background-position: 0 -22px
}

.country-flag .ca {
    background-position: -16px -22px
}

.country-flag .cd {
    background-position: -32px -22px
}

.country-flag .cf {
    background-position: -48px -22px
}

.country-flag .cg {
    background-position: -64px -22px
}

.country-flag .ch {
    background-position: -80px -22px
}

.country-flag .ci {
    background-position: -96px -22px
}

.country-flag .ck {
    background-position: -112px -22px
}

.country-flag .cl {
    background-position: -128px -22px
}

.country-flag .cm {
    background-position: -144px -22px
}

.country-flag .cn {
    background-position: -160px -22px
}

.country-flag .co {
    background-position: -176px -22px
}

.country-flag .cr {
    background-position: -192px -22px
}

.country-flag .cu {
    background-position: -208px -22px
}

.country-flag .cv {
    background-position: -224px -22px
}

.country-flag .cw {
    background-position: -240px -22px
}

.country-flag .cy {
    background-position: 0 -33px
}

.country-flag .cz {
    background-position: -16px -33px
}

.country-flag .de {
    background-position: -32px -33px
}

.country-flag .dj {
    background-position: -48px -33px
}

.country-flag .dk {
    background-position: -64px -33px
}

.country-flag .dm {
    background-position: -80px -33px
}

.country-flag .do {
    background-position: -96px -33px
}

.country-flag .dz {
    background-position: -112px -33px
}

.country-flag .ec {
    background-position: -128px -33px
}

.country-flag .ee {
    background-position: -144px -33px
}

.country-flag .eg {
    background-position: -160px -33px
}

.country-flag .er {
    background-position: -176px -33px
}

.country-flag .es {
    background-position: -192px -33px
}

.country-flag .et {
    background-position: -208px -33px
}

.country-flag .fi {
    background-position: -224px -33px
}

.country-flag .fj {
    background-position: -240px -33px
}

.country-flag .fk {
    background-position: 0 -44px
}

.country-flag .fm {
    background-position: -16px -44px
}

.country-flag .fo {
    background-position: -32px -44px
}

.country-flag .bl, .country-flag .fr, .country-flag .mf {
    background-position: -48px -44px
}

.country-flag .ga {
    background-position: -64px -44px
}

.country-flag .gb {
    background-position: -80px -44px
}

.country-flag .gd {
    background-position: -96px -44px
}

.country-flag .ge {
    background-position: -112px -44px
}

.country-flag .gf {
    background-position: -128px -44px
}

.country-flag .gh {
    background-position: -144px -44px
}

.country-flag .gi {
    background-position: -160px -44px
}

.country-flag .gl {
    background-position: -176px -44px
}

.country-flag .gm {
    background-position: -192px -44px
}

.country-flag .gn {
    background-position: -208px -44px
}

.country-flag .gp {
    background-position: -224px -44px
}

.country-flag .gq {
    background-position: -240px -44px
}

.country-flag .gr {
    background-position: 0 -55px
}

.country-flag .gt {
    background-position: -16px -55px
}

.country-flag .gu {
    background-position: -32px -55px
}

.country-flag .gw {
    background-position: -48px -55px
}

.country-flag .gy {
    background-position: -64px -55px
}

.country-flag .hk {
    background-position: -80px -55px
}

.country-flag .hn {
    background-position: -96px -55px
}

.country-flag .hr {
    background-position: -112px -55px
}

.country-flag .ht {
    background-position: -128px -55px
}

.country-flag .hu {
    background-position: -144px -55px
}

.country-flag .id {
    background-position: -160px -55px
}

.country-flag .ie {
    background-position: -176px -55px
}

.country-flag .il {
    background-position: -192px -55px
}

.country-flag .in {
    background-position: -208px -55px
}

.country-flag .io {
    background-position: -224px -55px
}

.country-flag .iq {
    background-position: -240px -55px
}

.country-flag .ir {
    background-position: 0 -66px
}

.country-flag .is {
    background-position: -16px -66px
}

.country-flag .it {
    background-position: -32px -66px
}

.country-flag .jm {
    background-position: -48px -66px
}

.country-flag .jo {
    background-position: -64px -66px
}

.country-flag .jp {
    background-position: -80px -66px
}

.country-flag .ke {
    background-position: -96px -66px
}

.country-flag .kg {
    background-position: -112px -66px
}

.country-flag .kh {
    background-position: -128px -66px
}

.country-flag .ki {
    background-position: -144px -66px
}

.country-flag .km {
    background-position: -160px -66px
}

.country-flag .kn {
    background-position: -176px -66px
}

.country-flag .kp {
    background-position: -192px -66px
}

.country-flag .kr {
    background-position: -208px -66px
}

.country-flag .kw {
    background-position: -224px -66px
}

.country-flag .ky {
    background-position: -240px -66px
}

.country-flag .kz {
    background-position: 0 -77px
}

.country-flag .la {
    background-position: -16px -77px
}

.country-flag .lb {
    background-position: -32px -77px
}

.country-flag .lc {
    background-position: -48px -77px
}

.country-flag .li {
    background-position: -64px -77px
}

.country-flag .lk {
    background-position: -80px -77px
}

.country-flag .lr {
    background-position: -96px -77px
}

.country-flag .ls {
    background-position: -112px -77px
}

.country-flag .lt {
    background-position: -128px -77px
}

.country-flag .lu {
    background-position: -144px -77px
}

.country-flag .lv {
    background-position: -160px -77px
}

.country-flag .ly {
    background-position: -176px -77px
}

.country-flag .ma {
    background-position: -192px -77px
}

.country-flag .mc {
    background-position: -208px -77px
}

.country-flag .md {
    background-position: -224px -77px
}

.country-flag .me {
    background-position: -112px -154px;
    height: 12px
}

.country-flag .mg {
    background-position: 0 -88px
}

.country-flag .mh {
    background-position: -16px -88px
}

.country-flag .mk {
    background-position: -32px -88px
}

.country-flag .ml {
    background-position: -48px -88px
}

.country-flag .mm {
    background-position: -64px -88px
}

.country-flag .mn {
    background-position: -80px -88px
}

.country-flag .mo {
    background-position: -96px -88px
}

.country-flag .mp {
    background-position: -112px -88px
}

.country-flag .mq {
    background-position: -128px -88px
}

.country-flag .mr {
    background-position: -144px -88px
}

.country-flag .ms {
    background-position: -160px -88px
}

.country-flag .mt {
    background-position: -176px -88px
}

.country-flag .mu {
    background-position: -192px -88px
}

.country-flag .mv {
    background-position: -208px -88px
}

.country-flag .mw {
    background-position: -224px -88px
}

.country-flag .mx {
    background-position: -240px -88px
}

.country-flag .my {
    background-position: 0 -99px
}

.country-flag .mz {
    background-position: -16px -99px
}

.country-flag .na {
    background-position: -32px -99px
}

.country-flag .nc {
    background-position: -48px -99px
}

.country-flag .ne {
    background-position: -64px -99px
}

.country-flag .nf {
    background-position: -80px -99px
}

.country-flag .ng {
    background-position: -96px -99px
}

.country-flag .ni {
    background-position: -112px -99px
}

.country-flag .bq, .country-flag .nl {
    background-position: -128px -99px
}

.country-flag .no {
    background-position: -144px -99px
}

.country-flag .np {
    background-position: -160px -99px
}

.country-flag .nr {
    background-position: -176px -99px
}

.country-flag .nu {
    background-position: -192px -99px
}

.country-flag .nz {
    background-position: -208px -99px
}

.country-flag .om {
    background-position: -224px -99px
}

.country-flag .pa {
    background-position: -240px -99px
}

.country-flag .pe {
    background-position: 0 -110px
}

.country-flag .pf {
    background-position: -16px -110px
}

.country-flag .pg {
    background-position: -32px -110px
}

.country-flag .ph {
    background-position: -48px -110px
}

.country-flag .pk {
    background-position: -64px -110px
}

.country-flag .pl {
    background-position: -80px -110px
}

.country-flag .pm {
    background-position: -96px -110px
}

.country-flag .pr {
    background-position: -112px -110px
}

.country-flag .ps {
    background-position: -128px -110px
}

.country-flag .pt {
    background-position: -144px -110px
}

.country-flag .pw {
    background-position: -160px -110px
}

.country-flag .py {
    background-position: -176px -110px
}

.country-flag .qa {
    background-position: -192px -110px
}

.country-flag .re {
    background-position: -208px -110px
}

.country-flag .ro {
    background-position: -224px -110px
}

.country-flag .rs {
    background-position: -240px -110px
}

.country-flag .ru {
    background-position: 0 -121px
}

.country-flag .rw {
    background-position: -16px -121px
}

.country-flag .sa {
    background-position: -32px -121px
}

.country-flag .sb {
    background-position: -48px -121px
}

.country-flag .sc {
    background-position: -64px -121px
}

.country-flag .sd {
    background-position: -80px -121px
}

.country-flag .se {
    background-position: -96px -121px
}

.country-flag .sg {
    background-position: -112px -121px
}

.country-flag .sh {
    background-position: -128px -121px
}

.country-flag .si {
    background-position: -144px -121px
}

.country-flag .sk {
    background-position: -160px -121px
}

.country-flag .sl {
    background-position: -176px -121px
}

.country-flag .sm {
    background-position: -192px -121px
}

.country-flag .sn {
    background-position: -208px -121px
}

.country-flag .so {
    background-position: -224px -121px
}

.country-flag .sr {
    background-position: -240px -121px
}

.country-flag .ss {
    background-position: 0 -132px
}

.country-flag .st {
    background-position: -16px -132px
}

.country-flag .sv {
    background-position: -32px -132px
}

.country-flag .sx {
    background-position: -48px -132px
}

.country-flag .sy {
    background-position: -64px -132px
}

.country-flag .sz {
    background-position: -80px -132px
}

.country-flag .tc {
    background-position: -96px -132px
}

.country-flag .td {
    background-position: -112px -132px
}

.country-flag .tg {
    background-position: -128px -132px
}

.country-flag .th {
    background-position: -144px -132px
}

.country-flag .tj {
    background-position: -160px -132px
}

.country-flag .tk {
    background-position: -176px -132px
}

.country-flag .tl {
    background-position: -192px -132px
}

.country-flag .tm {
    background-position: -208px -132px
}

.country-flag .tn {
    background-position: -224px -132px
}

.country-flag .to {
    background-position: -240px -132px
}

.country-flag .tr {
    background-position: 0 -143px
}

.country-flag .tt {
    background-position: -16px -143px
}

.country-flag .tv {
    background-position: -32px -143px
}

.country-flag .tw {
    background-position: -48px -143px
}

.country-flag .tz {
    background-position: -64px -143px
}

.country-flag .ua {
    background-position: -80px -143px
}

.country-flag .ug {
    background-position: -96px -143px
}

.country-flag .us {
    background-position: -112px -143px
}

.country-flag .uy {
    background-position: -128px -143px
}

.country-flag .uz {
    background-position: -144px -143px
}

.country-flag .va {
    background-position: -160px -143px
}

.country-flag .vc {
    background-position: -176px -143px
}

.country-flag .ve {
    background-position: -192px -143px
}

.country-flag .vg {
    background-position: -208px -143px
}

.country-flag .vi {
    background-position: -224px -143px
}

.country-flag .vn {
    background-position: -240px -143px
}

.country-flag .vu {
    background-position: 0 -154px
}

.country-flag .wf {
    background-position: -16px -154px
}

.country-flag .ws {
    background-position: -32px -154px
}

.country-flag .ye {
    background-position: -48px -154px
}

.country-flag .za {
    background-position: -64px -154px
}

.country-flag .zm {
    background-position: -80px -154px
}

.country-flag .zw {
    background-position: -96px -154px
}

.country-flag {
    position: relative
}

.country-flag * {
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.country-flag .hide {
    display: none
}

.country-flag .v-hide {
    visibility: hidden
}

.country-flag input, .country-flag input[type=tel], .country-flag input[type=text] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 44px;
    margin-left: 0
}

.country-flag .flag-dropdown {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1px
}

.country-flag .flag-dropdown:hover {
    cursor: pointer
}

.country-flag input[disabled] + .flag-dropdown:hover, body {
    cursor: default
}

.country-flag .flag-dropdown:hover .selected-flag {
    background-color: rgba(0, 0, 0, .05)
}

.country-flag input[disabled] + .flag-dropdown:hover .selected-flag {
    background-color: transparent
}

.country-flag .selected-flag {
    z-index: 1;
    position: relative;
    width: 38px;
    height: 100%;
    padding: 0 0 0 8px
}

.country-flag .selected-flag .flag {
    position: absolute;
    top: 50%;
    margin-top: -5px
}

.country-flag .selected-flag .arrow {
    position: relative;
    top: 50%;
    margin-top: -2px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555
}

.country-flag .selected-flag .arrow.up {
    border-top: none;
    border-bottom: 4px solid #555
}

.country-flag .country-list {
    list-style: none;
    z-index: 2;
    padding: 0;
    margin: 0 0 0 -1px;
    overflow-y: scroll
}

.country-flag .country-list .flag {
    display: inline-block
}

.country-flag .country-list .divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC
}

.country-flag .country-list .country {
    padding: 5px 10px
}

.country-flag .country-list .country .dial-code {
    color: #999
}

.country-flag .country-list .country.highlight {
    background-color: rgba(0, 0, 0, .05)
}

.form-control, body {
    background-color: #FFF
}

.country-flag .country-list .country-name, .country-flag .country-list .flag {
    margin-right: 6px
}

.country-flag {
    display: block
}

.country-flag .country-list {
    color: #666;
    box-shadow: none;
    background-color: #FFF;
    border: 1px solid #e2e2e2;
    max-height: 180px;
    position: relative;
    width: 101%
}

.country-flag span {
    position: relative !important
}

html {
    position: relative;
    min-height: 100%
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    margin-bottom: 60px
}

h1, h2, h3, h4, h5, h6 {
    margin: 0
}

h1 {
    color: #0479BC;
    font-size: 34px;
    margin-bottom: 24px
}

h2 {
    color: #444;
    font-size: 32px;
    margin-bottom: 18px
}

h4 {
    font-size: 22px;
    margin-bottom: 12px
}

h5 {
    font-size: 18px;
    color: #044A72;
    margin: 0 0 12px
}

.brand-blue {
    color: #0479BC
}

.black {
    color: #000
}

a, a:focus {
    color: #428BCA
}

.list-spaced li {
    margin-bottom: 16px
}

.content-page h1 {
    font-size: 42px
}

.content-page h2 {
    font-size: 32px;
    padding: 10px 0
}

.content-page li {
    margin-bottom: 15px
}

hr {
    margin: 40px 0
}

a:hover {
    color: #3071a9
}

a:focus {
    outline: 0;
    outline-offset: 0
}

.text-indent {
    padding-left: 30px
}

.list-unstyled {
    margin-bottom: 0
}

.fa {
    color: #0479BC
}

.fa-m-right {
    margin-right: .4em
}

select {
    color: #666
}

.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 4px
}

.form-control {
    background-image: none;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    box-shadow: inset 0 1px 1px transparent;
    color: #000;
    display: block;
    font-size: 16px;
    height: 34px;
    line-height: 1.42857143;
    o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    webkit-box-shadow: inset 0 1px 1px transparent;
    webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    width: 100%
}

.form-control::-moz-placeholder {
    color: #000;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #000
}

.form-control::-webkit-input-placeholder {
    color: #000
}

.btn.focus, .btn:focus, .btn:hover {
    color: #FFF
}

.btn-primary, .btn-secondary {
    background-color: #0479BC;
    border: none;
    color: #FFF;
    padding: 8px 16px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    border-radius: 0;
    width: 100%;
    margin-top: 19px
}

.btn-primary:hover {
    background-color: #0369a3
}

.btn-secondary {
    background-color: #0AA258
}

.btn-secondary:hover {
    background-color: #098a4b
}

.collapse-link {
    color: #000;
    font-size: 16px;
    padding: 0 0 5px;
    margin: 0 0 5px;
    display: block
}

.collapse-link:active, .collapse-link:focus, .collapse-link:hover {
    color: #000;
    opacity: .7;
    text-decoration: none
}

.collapse-link .fa {
    font-size: 18px;
    margin-left: 6px;
    float: right;
    margin-right: 10px
}

.collapse-link span {
    color: #428BCA;
    font-size: 10px;
    float: right;
    margin-top: 6px;
    display: block
}

.header {
    background-color: #0479BC
}

.header .country-picker-large {
    background-color: #0479BC;
    background-color: #FFF \9
}

.header .logo {
    font-size: 34px;
    color: #FFF;
    margin: 10px 0;
    display: block
}

.header .logo:hover {
    color: #FFF;
    opacity: .7
}

.header .logo sub {
    bottom: 0;
    font-size: 14px
}

.header .search-bar {
    padding: 15px 0 0
}

.header .search-bar select {
    width: 100%
}

.header .list-social {
    margin: 18px 0
}

.header .list-social > li {
    padding-left: 4px;
    padding-right: 4px
}

.header .list-social a:hover {
    opacity: .7
}

.site-head {
    background-color: #0479BC;
    color: #FFF;
    border: 0
}

.site-head .site-logo {
    line-height: 55px;
    display: inline-block
}

.brand-logo, .site-nav li.open .dropdown-menu {
    display: block
}

.site-head-functions li {
    padding: 20px 0
}

.site-head-functions li a {
    padding: 0 9px;
    line-height: 20px
}

.site-head-functions li a:hover {
    color: #066aa3;
    background-color: transparent
}

.site-head-functions li a.small-link {
    font-size: .875em;
    font-weight: 600;
    text-decoration: underline
}

.site-head-functions li.dropdown {
    background-color: #044A72;
    padding: 20px 13px
}

.site-head-functions li.dropdown a {
    color: #FFF;
    text-transform: uppercase
}

.site-head-functions li.open > a, .site-head-functions li.open > a:hover {
    background-color: transparent
}

.site-head-functions li.open .dropdown-menu {
    width: 100%;
    border-top: 1px solid #FFF
}

.site-head-functions li.open .dropdown-menu li a {
    color: inherit;
    font-size: .875em;
    font-weight: 400;
    padding: 8px 20px
}

.site-head-functions li.open .dropdown-menu li:hover {
    background-color: #F5F5F5
}

.site-head-functions li.open .dropdown-menu li.divider {
    margin: 0
}

.site-head-functions li > .dropdown-menu li {
    padding: 0
}

.site-head-functions .brand-number, .site-head-functions .brand-number:hover {
    color: inherit;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none
}

.brand-logo, .brand-logo:hover {
    color: #FFF;
    text-decoration: none
}

.brand-logo {
    font-size: 2em;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.02em;
    padding-top: 14px
}

.brand-logo sub {
    bottom: 0;
    font-size: .5em;
    text-transform: uppercase
}

.brand-logo:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.brand-logo span {
    color: #044A72
}

.navbar-right {
    margin-right: 0
}

.navbar-right .dropdown-menu {
    color: #666;
    right: 0;
    left: auto
}

.site-nav {
    background-color: #0AA258
}

.site-nav .container {
    padding: 0
}

.site-nav ul {
    position: relative;
    width: 100%
}

.site-nav li > a {
    color: #FFF;
    font-size: .875em;
    font-weight: 400;
    padding: 6px 18px;
    text-transform: uppercase
}

.site-nav li > a:hover {
    background-color: #FFF;
    color: #666
}

.site-nav li > a:focus {
    color: #FFF;
    background-color: inherit
}

.site-nav li.dropdown-mega {
    position: static
}

.site-nav li.open > a, .site-nav li.open > a:hover {
    background-color: #FFF;
    color: #666
}

.site-nav li.open .dropdown-menu .dropdown-menu {
    display: none
}

.site-nav .dropdown-menu {
    display: none;
    background-color: #fff;
    border-top: 0 none;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    list-style: none;
    line-height: 160%;
    min-width: 180px;
    margin: 2px 0 10px;
    position: absolute;
    top: 100%;
    left: 0
}

.fixed-table-container .bs-checkbox, .fixed-table-container .no-records-found, .fixed-table-loading {
    text-align: center
}

.box-blue, .box-blue .link-download, .box-blue h2, .box-blue h3, .map-overlay, .map-wrapper {
    position: relative
}

.site-nav .dropdown-menu.mega {
    min-width: 100%
}

.site-nav .dropdown-menu.mega ul {
    width: 16.666666667%;
    border-right: 1px solid #e2e2e2
}

.site-nav .dropdown-menu.mega ul:last-child {
    border-right: none
}

.site-nav .dropdown-menu.menu-wide {
    min-width: 220px
}

.site-nav .dropdown-menu li {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    position: relative
}

.site-nav .dropdown-menu li:hover {
    background-color: #F5F5F5
}

.site-nav .dropdown-menu li a {
    background-color: inherit;
    color: #666;
    display: block;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    padding: 4px 12px
}

.site-nav .dropdown-menu li a .fa {
    line-height: 160%;
    color: #044A72
}

.site-nav .dropdown-menu li a.brand-link:hover {
    background-color: #FFF
}

.site-nav .dropdown-menu .divider {
    height: 1px;
    margin: 4px 12px;
    overflow: hidden;
    background-color: #e5e5e5
}

.site-nav .dropdown-menu .country-link {
    padding: 24px 0 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase
}

.site-nav .dropdown-menu .country-link img {
    padding-bottom: 12px
}

.site-nav .dropdown-submenu .dropdown-menu {
    top: -2px;
    left: 100%;
    border-left: 0;
    border-top: 0
}

.site-nav .dropdown-submenu .dropdown-menu li > a {
    line-height: inherit
}

.site-nav .dropdown-submenu:hover .dropdown-menu {
    display: block !important
}

.jumbotron {
    background: url('../images/map_e03aa545dd.png') center center no-repeat #b3d1ff;
    padding: 60px 0;
    min-height: 275px
}

.jumbotron h1, .jumbotron p {
    background-color: #FFF;
    display: inline-block;
    padding: 20px;
    margin: 0
}

.jumbotron h1 {
    color: #0479BC;
    font-size: 34px
}

.jumbotron p {
    font-size: 16px;
    margin-top: 12px;
    margin-right: 30%
}

.jumbotron .box {
    background-color: #0479BC;
    color: #FFF;
    padding: 10px
}

.jumbotron .box-search {
    padding: 25px 20px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFF
}

.jumbotron .box-search .countrynav {
    background-color: #0479BC;
    background-color: #FFF \9
}

.jumbotron .box-primary {
    background-color: #0F78B4;
    color: #FFF;
    padding: 10px
}

.jumbotron .box-primary h3 {
    font-size: 120px;
    padding: 15px 0
}

.jumbotron .box-primary h3 sup {
    font-size: 60px;
    top: -.75em
}

.jumbotron .box-primary h4 {
    font-size: 19px;
    margin: 0
}

.jumbotron--flat-map {
    background: url('../images/map-grey_e03aa545dd.png') center top no-repeat #F5F5F5;
    border-bottom: #DCDCDC solid 1px;
    padding: 40px 0
}

.jumbotron--flat-map h1 {
    background: 0 0;
    color: #000;
    font-size: 42px;
    padding: 0;
    margin-bottom: 30px
}

.jumbotron--flat-map p {
    background-color: transparent;
    font-size: 16px;
    display: block;
    margin: 0;
    padding: 0
}

.jumbotron--flat-map .box--dial {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    padding: 43px 0
}

.jumbotron--flat-map .box--dial__title {
    font-size: 24px;
    color: #000;
    margin: 0
}

.map-wrapper {
    margin-bottom: 30px
}

.map-overlay {
    padding: 30px 0;
    pointer-events: none
}

.map-cover {
    pointer-events: auto
}

.default-background {
    background: url('../images/map_e03aa545dd.png') center center no-repeat #b3d1ff
}

.box-container {
    margin: 30px 0
}

.box-blue {
    background-color: #0F78B4;
    color: #FFF;
    padding: 10px;
    margin-right: 10px;
    min-width: 180px;
    min-height: 180px;
    min-width: 150px \9;
    min-height: 150px \9
}

.box-blue .link-download {
    float: right;
    z-index: 5
}

.box-blue .link-download .fa {
    color: #FFF
}

.box-blue .link-download:hover {
    opacity: .7
}

.box-blue h2 {
    color: #FFF;
    font-size: 110px;
    margin: 0
}

.box-blue h2 sup {
    font-size: 55px;
    top: -.77em
}

.box-blue h3 {
    color: #FFF;
    font-size: 128px;
    margin: 0;
    padding: 15px 0
}

.box-blue h3 sup {
    font-size: 65px;
    top: -.74em
}

.box-blue h4 {
    font-size: 19px;
    margin: 0
}

.box-blue p, .box-green p {
    margin: 0;
    font-size: 12px;
    position: absolute;
    bottom: 10px
}

.box-green {
    background-color: #0aa258;
    color: #FFF;
    padding: 10px;
    position: relative;
    min-width: 85px;
    min-height: 85px
}

.box-green + .box-green {
    margin-top: 10px
}

.box-green h3 {
    font-size: 45px;
    margin: 0
}

.box-green h4 {
    font-size: 31px;
    margin: 6px 0 0
}

.well {
    border-radius: 0;
    background-color: #FFF;
    border: 1px solid #ccc;
    width: 100%
}

.well__title {
    font-size: 16px;
    color: #000
}

.well--callout {
    background-color: #f5f5f5
}

.well .form-group {
    margin-top: 10px;
    margin-bottom: 0
}

.well .form-control {
    height: 32px
}

.well .input-country {
    color: #aaa;
    font-size: 10px;
    position: absolute;
    margin-top: -2px
}

.well-try-number {
    max-width: 46%;
    max-width: 42% \9;
    margin-bottom: 0;
    position: relative;
    z-index: 1
}

.well-try-number h5 {
    font-size: 18px;
    margin: 0 0 12px
}

.well-try-number + .well-try-number {
    background-color: #f5f5f5;
    z-index: 2;
    -moz-box-shadow: 3px 0 5px 0 #dbdbdb;
    -webkit-box-shadow: 3px 0 5px 0 #DBDBDB;
    box-shadow: 0 0 5px 0 #DBDBDB
}

.try-number .nav-tabs {
    border-bottom: none
}

.try-number .nav-tabs > li {
    margin: 0
}

.try-number .nav-tabs > li a {
    background-color: #4897ea;
    color: #FFF;
    margin: 0;
    line-height: inherit;
    border: none
}

.try-number .nav-tabs > li a:hover {
    background-color: #318ae7
}

.try-number .nav-tabs > li.active a {
    color: #FFF;
    background-color: #0AA258;
    border: none
}

.try-number .tab-content {
    background-color: #0AA258;
    padding: 20px 20px 10px
}

.try-number .tab-content .btn-demo, .try-number .tab-content .btn-free-trial {
    width: 47%;
    padding: 10px;
    display: block;
    font-weight: 300
}

.try-number .tab-content small {
    display: inline-block;
    margin-top: 4px;
    font-size: 13px
}

.try-number .tab-content small a {
    color: #FFF;
    text-decoration: none
}

.try-number .tab-content small a:hover {
    text-decoration: underline
}

.btn-try-number .form-control {
    color: #666;
    padding-right: 46px;
    position: relative
}

.btn-try-number .dropdown-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    padding: 5px 8px
}

.btn-try-number .dropdown-toggle span {
    color: #666
}

.btn-try-number .dropdown-menu {
    width: 100%
}

.btn-try-number .dropdown-menu .divider {
    margin: 4px 0
}

.btn-try-number .dropdown-menu a {
    padding: 3px 10px;
    white-space: normal
}

.try-number-vertical .col-md-4 {
    float: none;
    width: 100%
}

.try-number-vertical .form-control {
    margin-bottom: 8px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #CCC
}

.try-number-horizontal .col-md-4:last-child {
    border-right: 1px solid #c9c9c9;
    padding-right: 15px
}

.try-number-horizontal .form-group {
    margin-bottom: 0
}

.try-number-horizontal .btn {
    height: auto !important
}

.ui-widget-content {
    max-height: 300px !important;
    overflow-y: auto;
    font-family: inherit !important;
    font-size: .875em !important;
    border-color: #e2e2e2 !important;
    margin-top: -1px;
    box-sizing: border-box;
    text-transform: uppercase
}

.ui-widget-content .ui-menu-item {
    padding: 4px !important;
    list-style-image: none !important;
    font-weight: 400
}

.ui-widget-content .ui-menu-item a {
    font-size: 12px;
    color: #656565;
    font-weight: 400
}

.ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover {
    border: 0 #F5F5F5 !important;
    background: #ededed !important;
    margin: 0 !important
}

.bootstrap-table .table {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse !important;
    border-radius: 1px
}

.fixed-table-container {
    position: relative;
    clear: both;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
}

.fixed-table-header {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0
}

.fixed-table-body {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%
}

.fixed-table-container table {
    width: 100%
}

.fixed-table-container thead th {
    height: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid #ddd
}

.fixed-table-container thead th:first-child {
    border-left: none;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px
}

.fixed-table-container thead th .th-inner {
    padding: 8px;
    line-height: 24px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.fixed-table-container thead th .sortable {
    cursor: pointer
}

.fixed-table-container tbody td {
    border-left: 1px solid #ddd
}

.fixed-table-container tbody tr:first-child td {
    border-top: none
}

.fixed-table-container tbody td:first-child {
    border-left: none
}

.fixed-table-container tbody .selected td {
    background-color: #f5f5f5
}

.fixed-table-container .bs-checkbox .th-inner {
    padding: 8px 0
}

.fixed-table-container input[type=radio], .fixed-table-container input[type=checkbox] {
    margin: 0 auto !important
}

.fixed-table-pagination .pagination, .fixed-table-pagination .pagination-detail {
    margin-top: 10px;
    margin-bottom: 10px
}

.fixed-table-pagination .pagination a {
    padding: 6px 12px;
    line-height: 1.428571429
}

.fixed-table-pagination .pagination-info {
    line-height: 34px;
    margin-right: 5px
}

.fixed-table-pagination .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.fixed-table-pagination .dropup .dropdown-menu {
    margin-bottom: 0
}

.fixed-table-pagination .page-list {
    display: inline-block
}

.fixed-table-toolbar .columns-left {
    margin-right: 5px
}

.fixed-table-toolbar .columns-right {
    margin-left: 5px
}

.fixed-table-toolbar .columns label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429
}

.fixed-table-toolbar .bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px
}

.fixed-table-pagination li.disabled a {
    pointer-events: none;
    cursor: default
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a, .bootstrap-select.btn-group > .disabled {
    cursor: not-allowed
}

.fixed-table-loading {
    display: none;
    position: absolute;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #fff
}

.fixed-table-body .card-view .title {
    font-weight: 700;
    display: inline-block;
    min-width: 30%;
    text-align: left !important
}

.fixed-table-body thead th .th-inner {
    box-sizing: border-box
}

.table td, .table th {
    vertical-align: middle;
    box-sizing: border-box
}

.fixed-table-toolbar .dropdown-menu {
    text-align: left;
    max-height: 300px;
    overflow: auto
}

.fixed-table-toolbar .btn-group > .btn-group {
    display: inline-block;
    margin-left: -1px !important
}

.fixed-table-toolbar .btn-group > .btn-group > .btn {
    border-radius: 0
}

.fixed-table-toolbar .btn-group > .btn-group:first-child > .btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.fixed-table-toolbar .btn-group > .btn-group:last-child > .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.bootstrap-table .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.bootstrap-table .table thead > tr > th {
    padding: 0;
    margin: 0
}

.bootstrap-table, table {
    margin-bottom: 30px
}

.pull-right .dropdown-menu {
    right: 0;
    left: auto
}

p.fixed-table-scroll-inner {
    width: 100%;
    height: 200px
}

div.fixed-table-scroll-outer {
    top: 0;
    left: 0;
    visibility: hidden;
    width: 200px;
    height: 150px;
    overflow: hidden
}

.table > tbody > tr > td {
    padding: 12px 10px
}

.bootstrap-table .fa {
    color: #0479BC
}

.bootstrap-table .fixed-table-container {
    border: none
}

.bootstrap-table .fixed-table-header {
    display: none !important
}

.bootstrap-table .table > thead > tr > th {
    border-bottom-width: 1px
}

.bootstrap-table .main-table {
    border: none;
    font-size: 12px
}

.bootstrap-table .main-table > thead > tr > th {
    border: none;
    border-bottom: 1px solid #DDD;
    background-color: #EBEBEB;
    padding: 0
}

.tb-dial .grey, table th {
    background-color: #f5f5f5;
    color: #000
}

.bootstrap-table .main-table > thead > tr > th .th-inner {
    padding: 20px 10px
}

.bootstrap-table .main-table > tbody > tr > td {
    border: none
}

table td, table th {
    border-left: #dcdcdc solid 1px;
    border-top: #dcdcdc solid 1px
}

table {
    border: 1px solid #dcdcdc;
    width: 100%
}

table th {
    font-weight: 400;
    padding: 8px
}

table td {
    padding: 6px 8px
}

table td .weather {
    margin-top: 4px;
    display: inline-block
}

table h3 {
    color: #000;
    font-size: 40px;
    margin: 0 15px 0 0
}

table sup {
    font-size: 26px
}

table .fa {
    color: #000
}

table .clock-seconds {
    display: inline-block;
    font-size: .55em;
    width: 1em
}

.tb-dial {
    text-align: center;
    color: #000
}

.tb-dial .grey {
    font-size: 16px
}

.tb-dial .digit {
    font-size: 80px;
    color: #0479bc
}

.bootstrap-select {
    width: 220px \9;
    text-transform: uppercase
}

.bootstrap-select > .btn {
    width: 100%
}

.error .bootstrap-select .btn {
    border: 1px solid #b94a48
}

.control-group.error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48
}

.bootstrap-select.fit-width {
    width: auto !important
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none
}

.bootstrap-select.form-control:not([class*=col-]) {
    width: 100%
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
    float: none;
    display: inline-block;
    margin-left: 0
}

.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*=col-].dropdown-menu-right, .row-fluid .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
    float: right
}

.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group, .form-search .bootstrap-select.btn-group {
    margin-bottom: 0
}

.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0
}

.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%
}

.input-append .bootstrap-select.btn-group {
    margin-left: -1px
}

.input-prepend .bootstrap-select.btn-group {
    margin-right: -1px
}

.bootstrap-select.btn-group > .disabled:focus {
    outline: 0 !important
}

.bootstrap-select.btn-group .btn .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left
}

.bootstrap-select.btn-group .btn .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle
}

.bootstrap-select.btn-group[class*=col-] .btn {
    width: 100%
}

.bootstrap-select.btn-group .dropdown-menu {
    z-index: 1035;
    box-sizing: border-box;
    min-width: 100%
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    min-width: 100%
}

.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
    width: 100%
}

.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small {
    color: #64b1d8;
    color: rgba(100, 177, 216, .4)
}

.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer
}

.bootstrap-select.btn-group .dropdown-menu li a:after, .bootstrap-select.btn-group .dropdown-menu li a:before {
    content: " ";
    display: table
}

.bootstrap-select.btn-group .dropdown-menu li a:after {
    clear: both
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none
}

.bootstrap-select.btn-group .dropdown-menu li a span {
    display: inline-block;
    padding-right: 15px
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: .5em
}

.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    pointer-events: none;
    opacity: .9;
    box-sizing: border-box
}

.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px
}

.bootstrap-select.btn-group.fit-width .btn .filter-option {
    position: static
}

.bootstrap-select.btn-group.fit-width .btn .caret {
    position: static;
    top: auto;
    margin-top: -1px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px
}

.bootstrap-select.show-menu-arrow.open > .btn {
    z-index: 1036
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(204, 204, 204, .2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-bottom: 0;
    border-top-width: 7px;
    border-top-style: solid;
    border-top-color: #ccc;
    border-top-color: rgba(204, 204, 204, .2)
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid #fff;
    border-bottom: 0
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before {
    display: block
}

.bs-actionsbox, .bs-searchbox {
    padding: 4px 8px
}

.bs-actionsbox {
    float: left;
    width: 100%;
    box-sizing: border-box
}

.bs-actionsbox .btn-group button {
    width: 50%
}

.bs-searchbox + .bs-actionsbox {
    padding: 0 8px 4px
}

.bs-searchbox input.form-control {
    margin-bottom: 0;
    width: 100%
}

.mobile-device {
    position: absolute;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    height: 100% !important;
    opacity: 0
}

.bootstrap-select .btn.active, .bootstrap-select .btn:active, .bootstrap-select.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 0 0 transparent !important;
    box-shadow: inset 0 0 0 transparent !important
}

.bootstrap-select > .btn {
    border: 1px solid #CCC;
    padding-right: 33px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #FFF;
    color: #666
}

.bootstrap-select .flag {
    margin: 3px 7px 0 0
}

.bootstrap-select .i-dropdown {
    border-left: 1px solid #CCC;
    background-color: #f8f8f8;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 9px 12px
}

.bootstrap-select:hover .i-dropdown {
    background-color: #ebebeb
}

.bootstrap-select .dropdown-menu {
    font-size: 12px;
    border-top: none;
    margin-top: 0;
    overflow: hidden
}

.bootstrap-select .dropdown-menu > li > a {
    color: #666;
    padding: 6px 10px
}

.bootstrap-select .dropdown-menu > .active > a, .bootstrap-select .dropdown-menu > .active > a:focus, .bootstrap-select .dropdown-menu > .active > a:hover {
    color: #666;
    background-color: #e8e8e8
}

.footer, .footer a {
    color: #FFF
}

.country-picker-large > .btn {
    font-size: 15px;
    border-radius: 6px
}

.country-picker-large .flag {
    margin: 5px 7px 0 0
}

.country-picker-large .dropdown-menu {
    font-size: 15px;
    border-left: 1px #CCC;
    border-right: 1px solid #CCC
}

.country-picker-large .i-dropdown {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.country-picker-large.open .i-dropdown, .country-picker-large.open > .btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.flag {
    float: left;
    padding: 0 !important;
    margin: 0 5px 0 0;
    width: 16px;
    height: 11px;
    background: url('../images/flagssprite_small_e03aa545dd.png') no-repeat
}

.flag.ad {
    background-position: 0 0
}

.flag.ae {
    background-position: 0 -11px
}

.flag.af {
    background-position: 0 -22px
}

.flag.ag {
    background-position: 0 -33px
}

.flag.ai {
    background-position: 0 -44px
}

.flag.al {
    background-position: 0 -55px
}

.flag.am {
    background-position: 0 -66px
}

.flag.an {
    background-position: 0 -77px
}

.flag.ao {
    background-position: 0 -88px
}

.flag.ar {
    background-position: 0 -99px
}

.flag.as {
    background-position: 0 -110px
}

.flag.at {
    background-position: 0 -121px
}

.flag.au {
    background-position: 0 -132px
}

.flag.aw {
    background-position: 0 -143px
}

.flag.ax {
    background-position: 0 -154px
}

.flag.az {
    background-position: 0 -165px
}

.flag.ba {
    background-position: 0 -176px
}

.flag.bb {
    background-position: 0 -187px
}

.flag.bd {
    background-position: 0 -198px
}

.flag.be {
    background-position: 0 -209px
}

.flag.bf {
    background-position: 0 -220px
}

.flag.bg {
    background-position: 0 -231px
}

.flag.bh {
    background-position: 0 -242px
}

.flag.bi {
    background-position: 0 -253px
}

.flag.bj {
    background-position: 0 -264px
}

.flag.bm {
    background-position: 0 -275px
}

.flag.bn {
    background-position: 0 -286px
}

.flag.bo {
    background-position: 0 -297px
}

.flag.br {
    background-position: 0 -308px
}

.flag.bs {
    background-position: 0 -319px
}

.flag.bt {
    background-position: 0 -330px
}

.flag.bv {
    background-position: 0 -341px
}

.flag.bw {
    background-position: 0 -352px
}

.flag.by {
    background-position: 0 -363px
}

.flag.bz {
    background-position: 0 -374px
}

.flag.ca {
    background-position: 0 -385px
}

.flag.catalonia {
    background-position: 0 -396px
}

.flag.cc {
    background-position: 0 -407px
}

.flag.cd {
    background-position: 0 -418px
}

.flag.cf {
    background-position: 0 -429px
}

.flag.cg {
    background-position: 0 -440px
}

.flag.ch {
    background-position: 0 -451px
}

.flag.ci {
    background-position: 0 -462px
}

.flag.ck {
    background-position: 0 -473px
}

.flag.cl {
    background-position: 0 -484px
}

.flag.cm {
    background-position: 0 -495px
}

.flag.cn {
    background-position: 0 -506px
}

.flag.co {
    background-position: 0 -517px
}

.flag.cu {
    background-position: 0 -528px
}

.flag.cr {
    background-position: 0 -539px
}

.flag.cs {
    background-position: 0 -550px
}

.flag.cv {
    background-position: 0 -561px
}

.flag.cx {
    background-position: 0 -572px
}

.flag.cy {
    background-position: -16px 0
}

.flag.cz {
    background-position: -16px -11px
}

.flag.de {
    background-position: -16px -22px
}

.flag.dj {
    background-position: -16px -33px
}

.flag.dk {
    background-position: -16px -44px
}

.flag.dm {
    background-position: -16px -55px
}

.flag.do {
    background-position: -16px -66px
}

.flag.dz {
    background-position: -16px -77px
}

.flag.ec {
    background-position: -16px -88px
}

.flag.ee {
    background-position: -16px -99px
}

.flag.eg {
    background-position: -16px -110px
}

.flag.eh {
    background-position: -16px -121px
}

.flag.england {
    background-position: -16px -132px
}

.flag.er {
    background-position: -16px -143px
}

.flag.es {
    background-position: -16px -154px
}

.flag.et {
    background-position: -16px -165px
}

.flag.eu {
    background-position: -16px -176px
}

.flag.fam {
    background-position: -16px -187px
}

.flag.fi {
    background-position: -16px -198px
}

.flag.fj {
    background-position: -16px -209px
}

.flag.fk {
    background-position: -16px -220px
}

.flag.fm {
    background-position: -16px -231px
}

.flag.fo {
    background-position: -16px -242px
}

.flag.fr {
    background-position: -16px -253px
}

.flag.ga {
    background-position: -16px -264px
}

.flag.gb {
    background-position: -16px -275px
}

.flag.gd {
    background-position: -16px -286px
}

.flag.ge {
    background-position: -16px -297px
}

.flag.gf {
    background-position: -16px -308px
}

.flag.gh {
    background-position: -16px -319px
}

.flag.gi {
    background-position: -16px -330px
}

.flag.gl {
    background-position: -16px -341px
}

.flag.gm {
    background-position: -16px -352px
}

.flag.gn {
    background-position: -16px -363px
}

.flag.gp {
    background-position: -16px -374px
}

.flag.gq {
    background-position: -16px -385px
}

.flag.gr {
    background-position: -16px -396px
}

.flag.gs {
    background-position: -16px -407px
}

.flag.gt {
    background-position: -16px -418px
}

.flag.gu {
    background-position: -16px -429px
}

.flag.gw {
    background-position: -16px -440px
}

.flag.gy {
    background-position: -16px -451px
}

.flag.hk {
    background-position: -16px -462px
}

.flag.hm {
    background-position: -16px -473px
}

.flag.hn {
    background-position: -16px -484px
}

.flag.hr {
    background-position: -16px -495px
}

.flag.ht {
    background-position: -16px -506px
}

.flag.hu {
    background-position: -16px -517px
}

.flag.id {
    background-position: -16px -528px
}

.flag.ie {
    background-position: -16px -539px
}

.flag.il {
    background-position: -16px -550px
}

.flag.in {
    background-position: -16px -561px
}

.flag.io {
    background-position: -16px -572px
}

.flag.iq {
    background-position: -32px 0
}

.flag.ir {
    background-position: -32px -11px
}

.flag.is {
    background-position: -32px -22px
}

.flag.it {
    background-position: -32px -33px
}

.flag.jm {
    background-position: -32px -44px
}

.flag.jo {
    background-position: -32px -55px
}

.flag.jp {
    background-position: -32px -66px
}

.flag.ke {
    background-position: -32px -77px
}

.flag.kg {
    background-position: -32px -88px
}

.flag.kh {
    background-position: -32px -99px
}

.flag.ki {
    background-position: -32px -110px
}

.flag.km {
    background-position: -32px -121px
}

.flag.kn {
    background-position: -32px -132px
}

.flag.kp {
    background-position: -32px -143px
}

.flag.kr {
    background-position: -32px -154px
}

.flag.kw {
    background-position: -32px -165px
}

.flag.ky {
    background-position: -32px -176px
}

.flag.kz {
    background-position: -32px -187px
}

.flag.la {
    background-position: -32px -198px
}

.flag.lb {
    background-position: -32px -209px
}

.flag.lc {
    background-position: -32px -220px
}

.flag.li {
    background-position: -32px -231px
}

.flag.lr {
    background-position: -32px -242px
}

.flag.lk {
    background-position: -32px -253px
}

.flag.ls {
    background-position: -32px -264px
}

.flag.lt {
    background-position: -32px -275px
}

.flag.lu {
    background-position: -32px -286px
}

.flag.lv {
    background-position: -32px -297px
}

.flag.ly {
    background-position: -32px -308px
}

.flag.ma {
    background-position: -32px -319px
}

.flag.mc {
    background-position: -32px -330px
}

.flag.md {
    background-position: -32px -341px
}

.flag.me {
    background-position: -32px -352px
}

.flag.mg {
    background-position: -32px -363px
}

.flag.mh {
    background-position: -32px -374px
}

.flag.mk {
    background-position: -32px -385px
}

.flag.ml {
    background-position: -32px -396px
}

.flag.mm {
    background-position: -32px -407px
}

.flag.mn {
    background-position: -32px -418px
}

.flag.mo {
    background-position: -32px -429px
}

.flag.mp {
    background-position: -32px -440px
}

.flag.mq {
    background-position: -32px -451px
}

.flag.mr {
    background-position: -32px -462px
}

.flag.ms {
    background-position: -32px -473px
}

.flag.mt {
    background-position: -32px -484px
}

.flag.mu {
    background-position: -32px -495px
}

.flag.mv {
    background-position: -32px -506px
}

.flag.mw {
    background-position: -32px -517px
}

.flag.mx {
    background-position: -32px -528px
}

.flag.my {
    background-position: -32px -539px
}

.flag.mz {
    background-position: -32px -550px
}

.flag.na {
    background-position: -32px -561px
}

.flag.nc {
    background-position: -32px -572px
}

.flag.ne {
    background-position: -48px 0
}

.flag.nf {
    background-position: -48px -11px
}

.flag.ng {
    background-position: -48px -22px
}

.flag.ni {
    background-position: -48px -33px
}

.flag.nl {
    background-position: -48px -44px
}

.flag.no {
    background-position: -48px -55px
}

.flag.np {
    background-position: -48px -66px
}

.flag.nr {
    background-position: -48px -77px
}

.flag.nu {
    background-position: -48px -88px
}

.flag.nz {
    background-position: -48px -99px
}

.flag.om {
    background-position: -48px -110px
}

.flag.pa {
    background-position: -48px -121px
}

.flag.pe {
    background-position: -48px -132px
}

.flag.pf {
    background-position: -48px -143px
}

.flag.pg {
    background-position: -48px -154px
}

.flag.ph {
    background-position: -48px -165px
}

.flag.pk {
    background-position: -48px -176px
}

.flag.pl {
    background-position: -48px -187px
}

.flag.pm {
    background-position: -48px -198px
}

.flag.pn {
    background-position: -48px -209px
}

.flag.pr {
    background-position: -48px -220px
}

.flag.ps {
    background-position: -48px -231px
}

.flag.pt {
    background-position: -48px -242px
}

.flag.pw {
    background-position: -48px -253px
}

.flag.py {
    background-position: -48px -264px
}

.flag.qa {
    background-position: -48px -275px
}

.flag.re {
    background-position: -48px -286px
}

.flag.ro {
    background-position: -48px -297px
}

.flag.rs {
    background-position: -48px -308px
}

.flag.ru {
    background-position: -48px -319px
}

.flag.rw {
    background-position: -48px -330px
}

.flag.sa {
    background-position: -48px -341px
}

.flag.sb {
    background-position: -48px -352px
}

.flag.sc {
    background-position: -48px -363px
}

.flag.scotland {
    background-position: -48px -374px
}

.flag.sd {
    background-position: -48px -385px
}

.flag.se {
    background-position: -48px -396px
}

.flag.sg {
    background-position: -48px -407px
}

.flag.sh {
    background-position: -48px -418px
}

.flag.si {
    background-position: -48px -429px
}

.flag.sj {
    background-position: -48px -440px
}

.flag.sk {
    background-position: -48px -451px
}

.flag.sl {
    background-position: -48px -462px
}

.flag.sm {
    background-position: -48px -473px
}

.flag.sn {
    background-position: -48px -484px
}

.flag.so {
    background-position: -48px -495px
}

.flag.sr {
    background-position: -48px -506px
}

.flag.st {
    background-position: -48px -517px
}

.flag.sv {
    background-position: -48px -528px
}

.flag.sy {
    background-position: -48px -539px
}

.flag.sz {
    background-position: -48px -550px
}

.flag.tc {
    background-position: -48px -561px
}

.flag.td {
    background-position: -48px -572px
}

.flag.tf {
    background-position: -64px 0
}

.flag.tg {
    background-position: -64px -11px
}

.flag.th {
    background-position: -64px -22px
}

.flag.tj {
    background-position: -64px -33px
}

.flag.tk {
    background-position: -64px -44px
}

.flag.tl {
    background-position: -64px -55px
}

.flag.tm {
    background-position: -64px -66px
}

.flag.tn {
    background-position: -64px -77px
}

.flag.to {
    background-position: -64px -88px
}

.flag.tr {
    background-position: -64px -99px
}

.flag.tt {
    background-position: -64px -110px
}

.flag.tv {
    background-position: -64px -121px
}

.flag.tw {
    background-position: -64px -132px
}

.flag.tz {
    background-position: -64px -143px
}

.flag.ua {
    background-position: -64px -154px
}

.flag.ug {
    background-position: -64px -165px
}

.flag.um {
    background-position: -64px -176px
}

.flag.us {
    background-position: -64px -187px
}

.flag.uy {
    background-position: -64px -198px
}

.flag.uz {
    background-position: -64px -209px
}

.flag.va {
    background-position: -64px -220px
}

.flag.vc {
    background-position: -64px -231px
}

.flag.ve {
    background-position: -64px -242px
}

.flag.vg {
    background-position: -64px -253px
}

.flag.vi {
    background-position: -64px -264px
}

.flag.vn {
    background-position: -64px -275px
}

.flag.vu {
    background-position: -64px -286px
}

.flag.wales {
    background-position: -64px -297px
}

.flag.wf {
    background-position: -64px -308px
}

.flag.ws {
    background-position: -64px -319px
}

.flag.ye {
    background-position: -64px -330px
}

.flag.yt {
    background-position: -64px -341px
}

.flag.za {
    background-position: -64px -352px
}

.flag.zm {
    background-position: -64px -363px
}

.flag.zw {
    background-position: -64px -374px
}
